.bettingPositionList {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1em;
  /*grid-auto-flow: column;*/
  grid-template-columns: auto auto auto;
  grid-column-gap: 3%;
}

.bettingPositionContainer {
  display: grid;

}