.game {
  display: grid;
  grid-template-rows: 40% 60%;
  background: linear-gradient(#464646, #1E1E1E);
  color: white;
}

.bottomGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5rem;
  justify-content: center;
}
