.bettingDoneButton {
  border-radius: 3em;
  color: var(--golden);
  background-color: var(--black);
  padding: 3vh 6vh;
  font-size: 3.3vh;
  border: 0.1em solid var(--golden);
}

.bettingDoneButton:disabled {
  opacity: 0.5;
}