.bettingDoneButton {
  border-radius: 3em;
  color: var(--golden);
  background-color: var(--black);
  padding-block: 4vh;
  font-size: 3.3vh;
  border: 0.1em solid var(--golden);
  grid-column: 2;
}

.bettingDoneButton:disabled {
  opacity: 0.5;
}