.bettingPosition {
  border-radius: 4px;
  padding: 1em;
  border: 1px solid;
}

.blue {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.green {
  background-color: var(--dark-green);
  color: var(--light-green);
}

.red {
  background-color: var(--dark-red);
  color: var(--light-red);
}

.winner {
  border-width: 2px;
}