.bettingPosition {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-items: center;
  height: 16vh;
  min-height: 4em;
  aspect-ratio: 3 / 2;
  border-radius: 0.5em;
  padding: 1em;
  border: 0.2rem solid;
  outline: 0.1rem solid;
}

.blue {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.green {
  background-color: var(--dark-green);
  color: var(--light-green);
}

.red {
  background-color: var(--dark-red);
  color: var(--light-red);
}

.highlighted {
  outline: 0.3rem solid;
}

.betArea {
  display: grid;
  justify-content: center;
  align-items: center;
}

.label {
  text-align: center;
  font-size: 3.3vh;
}