.bettingPositionList {
  display: grid;
  justify-content: center;
  /*align-content: start;*/
  padding: 1em;
  grid-auto-flow: column;
  grid-column-gap: 3%;
  /*align-items: center;*/
}

.bettingPositionContainer {
  display: grid;

}