html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

.root {
  height: 100%;
}

/*Variables*/
:root {
  --golden: #D4B37F;
  --blue: #225FFF;
  --dark-blue: #211F4F;
  --light-blue: #2681EB;
  --dark-green: #1A381D;
  --light-green: #16C459;
  --dark-red: #50091E;
  --light-red: #E91644;

}