html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

.root {
  height: 100%;
}

/*Variables*/
/*D4B37F*/
/*B19B73*/
/*C0A375*/
:root {
  --golden: #D4B37F;
}